@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Roboto');
h1, h2, h3, h4{
    font-family: 'Slabo 27px', serif;
    text-align: center;
    padding: 0.5em;
    font-weight: 500;
}
p, blockquote{
    padding: 0.5em;
    line-height: 1.25;
}
* {
    box-sizing: border-box;
}
.wrapper {
    margin: 0 auto;
}
.innerwrapper {
    max-width: 80%;
    margin: 0 auto;
}
.wrapper > .global {
    display: flex;
}
nav.global{
    background-color: white;
}
div.wrapper > nav.global {
    display: block;
}
@media screen and (min-width: 1000px){
    div.nav-menu ul{
        max-width: 80%;
        margin: 0 auto;
    }
}
div.nav-menu ul{
    flex-flow: wrap;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 865px){
    div.nav-menu ul li{
        min-width: 30%;
    }
}
div.nav-menu ul li{
    text-align: center;
    max-width: 100%;
    min-width: calc(100% / 6);
    display: block;
}
div.nav-menu ul li a{
    
    padding: 0.5em;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
    display: block;
    line-height: 30px;
    text-decoration: none;
    transition: 0.2s;
}
div.nav-menu ul li a:hover{
    background-color: #ccc;
}
.nav-toggle{ /** damn specificity **/
    display: inline-block;
}
a.nav-toggle{ 
    transition: 0.2s;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    padding: 10px;
}
a.nav-toggle:hover{
    background-color: #ccc;
}
a.nav-toggle.active{ /** .active is active at widths below 640px **/ 
    display: block;
    opacity: 0.3;
}