body{
    background-color: #eee;
}
main .innerwrapper {

}
.intro{
    display: flex;
}
.edward{
    max-width: 50%;
    float: right;
}
.edward img{
    max-width: 100%;
    display: block;
}
.explain{   
    overflow-y: auto;
    overflow-x: hidden;
}
.explain p{
    max-height: 9em;
}
.snowden{
    width: 50%;
    display: flex;
}
.secu p{   
    line-height: 1.5;
}
.secu{
    width: 50%;
}
@media screen and (max-width: 700px){
    .edward{
        max-width: 100%;
    }
}
@media screen and (max-width: 800px){
    .snowden > *{
        width: 100%;
    }
    .snowden{
        flex-flow: wrap;
    }
    .edward{
        max-width: 100%;
        float: none;
    }
}

.primary {
    background-color: white;
    margin-bottom: 3em;
}
.primary:first-of-type{
    margin-top: 1em;
}
b{
    font-weight: bold;
}
.parafs li{
    margin: 1em 0.5em;
    list-style: none;
    border: 2px solid grey;
}
blockquote{
    border: 1px dashed #000;
}
.parafs{
    display: flex;
}
.parafs li{
    overflow: hidden;
}
.parafs li:hover  p{
    max-height: 5rem;
}
.parafs li p{
    padding: 0.5em;
    transition: 1s;
    max-height: 0;
}
.parafs > *{
    width: 50%;
}