body{
    background-color: #7887AB;
}
.primary {
    background-color: white;
}
.primary {
    box-sizing: border-box;
    padding: 1em;
    margin: 1em 0;
    justify-content: space-between;
}

.intro{
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    max-width: 75%;
}
.intro p{
    width: 70%;
    padding: 1em;
    margin: 1em 0;
    border: 1px dashed #ccc;
}
.intro a{
    display: inline-block;
    width: 30%;
    font-size: 1.5em;
    height: 1em;
    margin: auto 0;
    text-align: center;
}
.intro img{
    margin: 0 auto;
    display: block;
    max-height: 100%;
    max-width: 100%; 
}
.overwatch p{
    max-width: 50%;
}
.overwatch .eldward{
    display: block;
    width: 50%;
    max-width: 100%;
}
.overwatch .eldward img{
    max-width: 100%;
}
